.env
node_modules
backend/DatabaseSync/.env
analysisQueue
analysisCIDs
script_scheduler.log
logfile.log
backend/host-ui/node_modules
backend/serversideWorkers/devR2Recieve/wrangler.toml
/home/major-shepard/Documents/LargeFieldAnalyzer/backend/DatabaseSync/script_scheduler.log