logProcessing/logs
logProcessing/.env
/backend/DatabaseSync/.env
backend/DatabaseSync/node_modules
backend/DatabaseSync/.env
backend/DatabaseSync/analysisQueue
backend/DatabaseSync/analysisCIDs
script_scheduler.log
logfile.log
backend/host-ui/node_modules
backend/serversideWorkers/devR2Recieve/wrangler.toml
